body{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
}
.has-error{
    border: 2px solid red;
    background: lightpink;
}

input{
    border: 2px solid darkgray;
    border-radius: 5px;
    margin-top: 10px;
    width: 40%;
    height: 40px;
    background: lightgray;
}

select{
    width: 40%;
    height: 40px;
    background: lightgray;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 5px;
}

label, th{
    color: black;   
    font-size: 20px; 
}

option{
    font-size: 18px;
}

h2{
    margin-top: 30px;;
    color: black;
}

button{
    height: 40px;
    width: 20%;
    border: 2px solid black;
    border-radius: 5px;
    background:  lightgreen;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

span{
    color: red;
    font-size: 15px;
}


.field{
    margin: 50px;
}

table{
    width: 90%;
}

.people{
    color: black;
    font-size: 25px;
}